<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    
    <!--Path Unzipped Data-->
    <add key="UnzippedPath" value="C:\WorkspaceNET\Interview\IronMountain\ImagesUnzipped"/>

    <!--Path DB Access-->
    <add key="IronAccessDB" value="Provider=Microsoft.ACE.OLEDB.12.0; Data source= C:\WorkspaceNET\Interview\IronMountain\AccessDB\IronDB.accdb"/>
 
  </appSettings>
</configuration>